.footer-main-text{
    display: flex;
    justify-content: center;
}
.foot-desc{
    width: 48%;
    margin-left: 5%;
    margin-top: -2%;
}
.footer-mainText{
    font-size: 26px;
}
.social-media{
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
    margin-left: 65%;
}
.footer {
    padding: 2%;
    background-color: black;
    color: white;
}
@media only screen and (max-width:480px){
    .footer-mainText{
        font-size: 22px;
    }
    .elem{
        font-size: 5.5px !important;
        height: 20px !important;
    }
    .foot-desc{
        font-size: 9px;
    }
    .footer{
        padding: 1.3%;
    }
    .social-media{
        margin-left:60% ;
        margin-top: 5%;
    }
}