.body-img{
    margin: 7% 10% 10% 14%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid gray;
    border-radius: 20px;
    width:900px;
    margin-right: 10%;
    align-items: center;
    height: 480px;
}
.body-img-laptop{
    width: 350px;
    align-self: center;
    cursor: pointer;
}

.fb:hover{
    cursor: pointer;
}


.body{
    padding: 2rem;
    margin-left: 6%;
}
.hr{
    margin-top: 2%;
    background-color: black;
    height: 2px;
    width: 111%;
    margin-left: -9.7%;
}

.leftArrow{
    position: absolute;
    left: 23.5%;
    cursor: pointer;
}
.rightArrow{
    position: absolute;
    right: 21%;
    rotate: 180deg;
    cursor: pointer;
}
.LaptopsName{
    font-size: 30px;
    font-weight: 600;
}
.body-image-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    justify-content: space-between;
}
.button{
    width: 150px;
}
@media only screen and (max-width:480px){
    .body-img{
        margin: 5% 5% 10% 2%;
        border-radius: 10px;
        width:270px;
        height: 300px;
    }
    .body-img-laptop{
        width: 200px;
    }    
    .LaptopsName{
        font-size: 20px;
        font-weight: 500;
    }
    .button{
        width: 70px;
        height: 30px !important;
        font-size: 12px !important;
    }
}